streamlit==1.39.0
streamlit-webrtc==0.50.0
ultralytics==8.3.200
av
aiortc
aioice
cryptography
cffi
opencv-python-headless>=4.10.0
numpy>=1.26.4
Pillow>=10.4.0
pyzbar>=0.1.9
openpyxl>=3.1.2
reportlab>=4.0
qrcode
